<div class="baspana-market-users-component">
  <h2>Список пользователей</h2>

  <!-- child input -->
  <app-input-searches (filterChange)="setFilter($event)">
    <p>input-searches works!</p>
  </app-input-searches>

  <button class="baspana-market--button" (click)="store.loadUsers()">Загрузить</button>


  @if(store.loading()){
      <div>Загрузка...</div>
  }  
  @if(store.users().length > 0){
      <div>Загружено</div>
  }
  @if(store.users().length === 0 && !store.loading() && !store.error()){
      <div>Пользователи не загружены</div>
  }
  @if(store.users().length === 0 && !store.loading() && store.error()){
      <div>Ошибка при загрузке пользователей</div>
      <div>{{ store.error() }}</div>
  }

 <ul>
    @for(user of filteredUsers; track user.id) {
      <li>{{ user.name }} ({{ user.email }})</li>
    }
    @empty {
      <li>Нет пользователей</li>
    }
  </ul>
</div>
