
  <!-- Extras Section -->
  <section class="baspana-market__extras">
    <div class="baspana-market__extras-item">
      <h4>Бесплатная видеоконсультация</h4>
      <button class="baspana-market__extras-button" appHover>Получить консультацию</button>
    </div>
    
    <div class="baspana-market__extras-item">
      <h4>Полезная рассылка</h4>
      <input type="email" placeholder="Ваш email" class="baspana-market__extras-input" />
      <button class="baspana-market__extras-button" appHover>Подписаться</button>
    </div>
</section>