.baspana-market {
  &__footer {
    background-color: #008080;
    color: white;
    text-align: center;
    padding: 32px 16px;
    margin-top: 32px;
  }

  &__footer .nav-link {
    color: white;
    margin: 0 16px;
    text-decoration: none;
  }
  &__footer .footer-nav{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
