.baspana-market {
  &__extras {
    display: flex;
    justify-content: space-around;
    background: #f1f5f9;
    padding: 32px;
    flex-wrap: wrap;

    &-item {
      margin: 16px;
      text-align: center;
    }

    &-input {
      padding: 8px;
      margin-right: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }

    &-button {
      padding: 8px 16px;
      background: #008080;
      color: white;
      border: none;
      border-radius: 4px;
    }
  }
}
