
  <!-- Offers -->
  <section class="baspana-market__offers">
  <h2>{{title | uppercase}}</h2>
   <form (submit)="onSearch(); $event.preventDefault()">
    <input
      type="text"
      [(ngModel)]="search"
      name="search"
      placeholder="Введите название объекта"
    />
    <button type="submit">Поиск</button>
  </form>
  <div class="baspana-market__offer-list">
    <div
      class="baspana-market__offer-card"
      *ngFor="let offer of offers"
    >
      <img [src]="offer.image" [alt]="offer.title" />
      <h4>{{ offer.price | numberSpaced }}</h4>
      <p>Дата публикации: {{ offer.date | dateFormat }}</p>
      <p>{{ offer.title }}</p>
    </div>
  </div>
</section>

